/* CSS file */
body {
  margin:0px; background-color:lightgray;
  font-family: "PT Serif", Garamond, Georgia, "Times New Roman", Times, serif; font-size:14pt;
}

div#content {margin-left: auto; margin-right: auto; background-color: white; width: 95%;}

div#header {background-color: #006024; color: white;}

#namesake {
	font-family: 'Caveat Brush';
	font-size: 36px;
	padding: 0 0 0.25em 1em;
	margin: 0;
    color: #ffc726;
}

h2 {
	border-top: 1px solid #ccc;
	padding-top: 0.5em;
	text-align: center;
}

h3 {background-color: #ffc726;}

div#page-context {
 margin: 0 1em;
 padding-bottom: 0.5em;
}

li {margin-bottom: 0.5em;}

ul.nav {list-style-type: none; margin:0; padding: 0; overflow:hidden; background-color: #006024;}
ul.nav li {
    display: block;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 2px solid white;
  }

ul.nav li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 0.5em 1em;
      text-decoration: none;
  }

ul.nav li a:hover {
      color: #ffc726;
  }

a.button:link, a.button:visited {0.25em 1em; background-color: #01426A; color: white;}
a.button:hover {background-color: #41B6E6;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div#content {width: 90%;}

    ul.nav li {
        float: left;
        margin-bottom: 0;
        border-bottom: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div#content {width: 80%;}

  a.button {display: inline;}
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
