/* CSS file */

body {
  margin:0px; background-color:#515151; 
  font-family: Garamond, Georgia, "Times New Roman", Times, serif; font-size:12pt;
}

div#content {margin-left: auto; margin-right: auto; background-color: white; width: 960px;}

div#header {background-color: #006024; color: white; padding-top: 1em;}

h3 {background-color: #ffc726;}

div#page-context {
 margin: 0 1em;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006024;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

ul.nav li a:hover {
    color: #ffc726;
}