<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Logan Rath &bull; Portfolio | {{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|PT+Serif:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" media="screen">
  <link rel="stylesheet" href="/print.css" media="print">
</head>
<body>
<div id="content">
<div id="header"><p id="namesake">Logan Rath, <span style="font-variant: small-caps">mls, ms</span></p></div>
<p id="bptlogo" style="text-align: center;"><img src="/brockport_logo.jpg" alt="brockport logo" style="margin: auto 0;" /></p>
{% include portfolionav.html %}
<h1 style="text-align: center;">{{ page.title }}</h1>
<div id="page-context">{{content}}
	<p style="text-align: right">Last modified {{ page.last-modified-date }}</p>
</div>
</div>
</body>
</html>